In [2]:
#Imports & Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
#import os
import pandas as pd
#import time

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#### NASA Mars News

In [16]:
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)
html = browser.html
soup = bs(html, "html.parser")

In [17]:
# Scrape latest news title and paragraph text using BeautifulSoup
news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text

print(f"Title: {news_title}")
print(f"Text: {news_paragraph}")

Title: Six Things About Opportunity's Recovery Efforts
Text: The global dust storm on Mars could soon let in enough sunlight for the Opportunity rover to recharge.

#### JPL Mars Space Images - Featured Image

In [11]:
img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)
html = browser.html
soup = bs(html, "html.parser")

In [13]:
# Scrape featured image url using BeautifulSoup
html_image = browser.html
soup = bs(html_image, "html.parser")
img_url = soup.find("img", class_="thumb")["src"]
full_img_url = "https://www.jpl.nasa.gov" + img_url
print(full_img_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22624-640x350.jpg

#### Mars Weather

In [18]:
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [19]:
# Scrape latest mars weather tweet using beautiful soup
html_weather = browser.html 
soup = bs(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

print(mars_weather)

Sol 2142 (2018-08-15), high -10C/14F, low -71C/-95F, pressure at 8.65 hPa, daylight 05:28-17:41

#### Mars Facts

In [20]:
url_facts = "https://space-facts.com/mars/"
browser.visit(url_facts)

In [43]:
# Scrape profile table for Mars facts using Pandas
mars_facts = pd.read_html(url_facts)
mars_facts[0]

# Convert results to a dataframe
df_mars_facts = mars_facts[0]
df_mars_facts.columns = ['Parameter', 'Fact']
df_mars_facts.set_index('Parameter', inplace = True)

df_mars_facts

                                               Fact
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [44]:
# Generate HTML table from dataframe
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace('\n', '')
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [45]:
# Save HTML table 
df_mars_facts.to_html('mars_facts_table.html')